---
import { fetchPost } from "../esa-utils/fetch";
import Layout from "../layouts/Layout.astro";

const faqPost = await fetchPost(import.meta.env.ESA_FAQ_NUMBER);
---

<Layout>
  <div>
    {faqPost.body_md}
  </div>
</Layout>
