---
import remarkParse from "remark-parse";
import { unified } from "unified";
import { fetchPost } from "../esa-utils/fetch";
import { parseFaqs } from "../esa-utils/faq-parser";
import Layout from "../layouts/Layout.astro";

const faqPost = await fetchPost(import.meta.env.ESA_FAQ_NUMBER);
const faqNodes = unified().use(remarkParse).parse(faqPost.body_md);
const faqs = parseFaqs(faqNodes);
console.dir(faqs);
---

<Layout pageTitle="よくある質問">
  <div class="container">
    <h1>よくある質問</h1>
    <dl>
      {
        faqs.map((faq) => (
          <div class="faq-item">
            <dt>{faq.question}</dt>
            <dd set:html={faq.answerHtml} />
          </div>
        ))
      }
    </dl>
  </div>

  <style>
    dt {
      font-size: 1.3rem;
      font-weight: bold;
    }
    dt::before {
      content: "Q. ";
    }
    .container {
      margin: 8px;
    }
    .faq-item {
      background-color: #ade7ed;
      width: 80%;
      margin: auto;
    }
    @media screen and (max-width: 768px) {
      .faq-item {
        width: 100%;
      }
      dd {
        margin-left: 8px;
      }
    }
  </style>
</Layout>
