---
import { fetchPosts } from "../esa-utils/fetch";
import Layout from "../layouts/Layout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { getFirstImg } from "../esa-utils/thumbnail";
import { fetchPost } from "../esa-utils/fetch";
import backgroundImage from "../assets/background.svg";

const response = await fetchPosts();
const posts = response.posts;
const faqPost = await fetchPost(import.meta.env.ESA_FAQ_NUMBER);
const faqImgSrc = getFirstImg(faqPost) ?? backgroundImage.src;
const blogPosts = posts.filter((post) => post.number !== faqPost.number);
---

<Layout>
  <div class="container">
    <h1>
      <span class="title-span">春からつくばで</span>
      <span class="title-span">新生活を始める</span>
      <span class="title-span">あなたに2025</span>
    </h1>
    <h2>記事一覧</h2>
    <div class="card-container">
      {blogPosts.map((post) => <ArticleCard post={post} />)}
      <h2>これってどうなの？そんなあなたに</h2>
      <a href="/faq" class="faq-card">
        <h3 class="faq-text">よくある質問</h3>
        <img class="faq-thumbnail" src={faqImgSrc} alt="faq" />
      </a>
    </div>
    <h3>
      <a href="https://forms.gle/b6q9WRu9522G6xAA9">お問い合せフォーム</a>
    </h3>
  </div>
  <p>
    このリポジトリは <a
      href="https://github.com/ZDK-UTsukuba/hello2025-frontend"
      target="_blank"
      rel="noopener noreferrer">GitHub</a
    > にて公開しています。
  </p>
</Layout>
<style>
  .container {
    margin: 8px;
  }
  .title-span {
    display: inline-block;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 0.5rem;
    width: 60%;
  }
  @media screen and (max-width: 768px) {
    .card-container {
      width: 90%;
    }
  }
  .faq-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    text-decoration: none;
    color: var(--text-color);
    &:visited {
      color: var(--visited);
    }
    &:hover {
      background-color: #f0f0f0;
    }
  }
  .faq-text {
    margin-inline: 0.8rem;
  }
  .faq-thumbnail {
    width: 30%;
    border-radius: 0 8px 8px 0;
  }
  @media screen and (max-width: 768px) {
    .faq-thumbnail {
      width: 40%;
    }
  }
</style>
