---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div id="container">
    <h1>新入生情報Web 2025 ただいまサイト準備中です</h1>
    <p>
      2025年度版の新入生情報Webは、3月末から4月初め頃に公開を予定しています。
    </p>
    <p>関連リンク</p>
    <ul>
      <li>
        <a href="https://www.stb.tsukuba.ac.jp/~zdk/">全代会ホームページ</a>
      </li>
      <li>
        <a href="https://hello.zdk.tsukuba.ac.jp/">2024年度版の新情Web</a>
      </li>
    </ul>
  </div>
</Layout>
<style>
  #container {
    margin: 8px;
  }
</style>
