---
import { fetchPosts } from "../esa-utils/fetch";
import Layout from "../layouts/Layout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import Footer from "../components/footer.astro";
import { getFirstImg } from "../esa-utils/thumbnail";
import { fetchPost } from "../esa-utils/fetch";
import backgroundImage from "../assets/background.svg";
import Card from "../components/Card.astro";

const response = await fetchPosts();
const posts = response.posts;
const faqPost = await fetchPost(import.meta.env.ESA_FAQ_NUMBER);
const faqFirstImg = await getFirstImg(faqPost);
const faqImgSrc = faqFirstImg ?? backgroundImage.src;
const blogPosts = posts.filter((post) => post.number !== faqPost.number);
---

<Layout>
  <div class="container">
    <h1>
      <span class="title-span">春からつくばで</span>
      <span class="title-span">新生活を始める</span>
      <span class="title-span">あなたに2025</span>
    </h1>
    <div class="card-container">
      <h2>記事一覧</h2>
      {blogPosts.map((post) => <ArticleCard post={post} />)}
      <h2>これってどうなの？そんなあなたに</h2>
      <Card href="/faq" title="よくある質問" imgSrc={faqImgSrc} />
    </div>
  </div>
  <Footer showTopLink={false} />
</Layout>
<style>
  h1 {
    width: 80%;
    margin: 0 auto;
  }
  .title-span {
    display: inline-block;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 0.5rem;
  }
  .container {
    margin: 8px auto;
    width: 620px;
  }
  @media screen and (max-width: 768px) {
    .container {
      width: 95%;
      margin-top: 8px;
    }
    h1 {
      width: 100%;
    }
  }
</style>
