---
import { fetchPosts } from "../esa-utils/fetch";
import Layout from "../layouts/Layout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import Footer from "../components/footer.astro";
import { getFirstImg } from "../esa-utils/thumbnail";
import { fetchPost } from "../esa-utils/fetch";
import backgroundImage from "../assets/background.svg";
import Card from "../components/Card.astro";

const response = await fetchPosts();
const posts = response.posts;
const faqPost = await fetchPost(import.meta.env.ESA_FAQ_NUMBER);
const faqFirstImg = await getFirstImg(faqPost);
const faqImgSrc = faqFirstImg ?? backgroundImage.src;
const blogPosts = posts.filter((post) => post.number !== faqPost.number);
---

<Layout>
  <div class="container">
    <header>
      <h1 class="title">
        新入生情報<span class="web">Web</span><span class="year">2025</span>
      </h1>
      <span class="sub-title"
        >つくばで大学生活を始める<span class="you">あなたに</span></span
      >
    </header>
    <div class="card-container">
      <h2>記事一覧</h2>
      {blogPosts.map((post) => <ArticleCard post={post} />)}
      <h2>これってどうなの？そんなあなたに</h2>
      <Card href="/faq" title="よくある質問" imgSrc={faqImgSrc} />
    </div>
  </div>
  <Footer showTopLink={false} />
</Layout>
<style>
  .title {
    margin: 0;
    margin-block-start: 2rem;
    font-size: 2.5rem;
    line-height: 2.3rem;
    .web {
      margin-inline: 0.2rem;
      font-size: 2.8rem;
    }
    .year {
      margin-inline-start: 0rem;
      font-size: 2.8rem;
    }
  }
  .sub-title {
    letter-spacing: 0.12rem;
    font-size: 1.5rem;
    font-weight: 600;
    .you {
      color: #0e9c26;
    }
  }
  .card-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 0.5rem;
  }
  .container {
    margin: 8px auto;
    width: 620px;
  }
  @media screen and (max-width: 768px) {
    .container {
      width: 95%;
      margin-top: 8px;
    }
    .title,
    .title .web,
    .title .year {
      font-size: 2rem;
    }
    .sub-title {
      font-size: 1.12rem;
    }
  }
</style>
