---
import { SITE_TITLE } from "../consts";
import { fetchPosts } from "../esa-utils/fetch";
import Layout from "../layouts/Layout.astro";
import ArticleCard from "../components/ArticleCard.astro";

const response = await fetchPosts();
const posts = response.posts;
---

<Layout>
  <div class="container">
    <h1>
      <span class="title-span">春からつくばで</span>
      <span class="title-span">新生活を始める</span>
      <span class="title-span">あなたに2025</span>
    </h1>
    <h2>記事一覧</h2>
    <div class="card-container">
      {posts.map((post) => <ArticleCard post={post} />)}
    </div>
    <h2>これってどうなの？そんなあなたに</h2>
    <h3><a href="/faq">よくある質問</a></h3>
    <h3><a href="/">お問い合せフォーム</a></h3>
  </div>
</Layout>
<style>
  .container {
    margin: 8px;
  }
  .title-span {
    display: inline-block;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 0.5rem;
    width: 60%;
  }
  @media screen and (max-width: 768px) {
    .card-container {
      width: 90%;
    }
  }
</style>
