---
import { fetchPosts } from "../esa-utils/fetch";
import Layout from "../layouts/Layout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import Footer from "../components/footer.astro";
import { getFirstImg } from "../esa-utils/thumbnail";
import { fetchPost } from "../esa-utils/fetch";
import backgroundImage from "../assets/background.svg";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";

const response = await fetchPosts();
const posts = response.posts;
const faqPost = await fetchPost(import.meta.env.ESA_FAQ_NUMBER);
const faqFirstImg = await getFirstImg(faqPost);
const faqImgSrc = faqFirstImg ?? backgroundImage.src;
const blogPosts = posts.filter((post) => post.number !== faqPost.number);
---

<Layout>
  <div class="container">
    <Header />
    <div class="card-container">
      <h2 class="heading">記事一覧</h2>
      {blogPosts.map((post) => <ArticleCard post={post} />)}
      <h2 class="heading">これってどうなの？</h2>
      <Card href="/faq" title="よくある質問" imgSrc={faqImgSrc} />
    </div>
  </div>
  <Footer showTopLink={false} />
</Layout>
<style>
  .heading {
    font-size: 1.5rem;
    padding-inline: 11px;
    padding-block: 0.1rem;
    border-inline-start: 7px solid var(--theme-color-dark);
    border-block-end: 1px solid var(--border-color);
  }
  .card-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 0.5rem;
  }
  .container {
    margin: 8px auto;
    width: 620px;
  }
  @media screen and (max-width: 768px) {
    .container {
      width: 95%;
      margin-top: 8px;
    }
  }
</style>
