---
import { fetchPosts } from "../esa-utils/fetch";
import Layout from "../layouts/Layout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { getFirstImg } from "../esa-utils/thumbnail";
import { fetchPost } from "../esa-utils/fetch";
import backgroundImage from "../assets/background.svg";
import Card from "../components/Card.astro";

const response = await fetchPosts();
const posts = response.posts;
const faqPost = await fetchPost(import.meta.env.ESA_FAQ_NUMBER);
const faqImgSrc = getFirstImg(faqPost) ?? backgroundImage.src;
const blogPosts = posts.filter((post) => post.number !== faqPost.number);
---

<Layout>
  <div class="container">
    <h1>
      <span class="title-span">春からつくばで</span>
      <span class="title-span">新生活を始める</span>
      <span class="title-span">あなたに2025</span>
    </h1>
    <div class="inner">
      <h2>記事一覧</h2>
      <div class="card-container">
        {blogPosts.map((post) => <ArticleCard post={post} />)}
        <h2>これってどうなの？そんなあなたに</h2>
        <Card href="/faq" title="よくある質問" imgSrc={faqImgSrc} />
      </div>
      <h3>
        <a href="https://forms.gle/b6q9WRu9522G6xAA9">お問い合せフォーム</a>
      </h3>
    </div>
    <p>
      このリポジトリは <a
        href="https://github.com/ZDK-UTsukuba/hello2025-frontend"
        target="_blank"
        rel="noopener noreferrer">GitHub</a
      > にて公開しています。
    </p>
  </div>
</Layout>
<style>
  h1 {
    width: 80%;
    margin: 0 auto;
  }
  .title-span {
    display: inline-block;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 0.5rem;
  }
  .inner {
    margin: 8px auto;
    width: 620px;
  }
  .container {
    margin: 8px;
  }
  @media screen and (max-width: 768px) {
    .inner {
      width: 100%;
    }
    h1 {
      width: 100%;
    }
  }
</style>
