<footer class="footer">
  <div class="footer__navi-container">
    <div>
      <p class="footer__navi-heading">サイト内マップ</p>
      <ul class="footer__navi">
        <li><a href="/">トップページ</a></li>
        <li><a href="/faq">よくある質問</a></li>
        <li>
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLScv0E7IiT1cbdD2fK4IEyI6RojRcYUkWKZBFHSUciCsScn-fQ/viewform"
            >質問フォーム(Google Forms)</a
          >
        </li>
      </ul>
    </div>
    <div>
      <p class="footer__navi-heading">関連サイト</p>
      <ul class="footer__navi">
        <li><a href="https://shinkan-web.zdk.tsukuba.ac.jp/">新歓Web</a></li>
        <li>
          <a href="https://www.stb.tsukuba.ac.jp/~shinkan/">新入生歓迎委員会</a>
        </li>
      </ul>
      <hr />
    </div>
  </div>

  <div class="footer__logo-container">
    <a href="https://www.zdk.tsukuba.ac.jp/" class="footer__logo-link">
      <img
        src="/src/assets/zdk_logo_full.svg"
        alt="全学学類・専門学群・総合学域群代表者会議"
      />
    </a>
  </div>
</footer>

<style>
  ul {
    padding: 0;
    list-style: none;
  }

  a {
    color: #4b5564;
    text-decoration: none;
  }

  a:hover {
    color: #000;
  }

  hr {
    width: 312px;
    padding: 0;
    margin: 1rem 0;
  }

  .footer {
    margin: 1rem 0;
    font-size: 15px;
    color: #4b5564;
    background: #fff;
  }
  .footer__navi-container {
    margin: 0 2rem;
  }
  .footer__navi {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
  }

  .footer__navi-heading {
    font-weight: 600;
    margin: 0;
  }

  li {
    padding-left: 1rem;
  }

  .footer__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .footer__logo-link {
    display: inline-block;
    max-width: 200px;
    width: 100%;
  }
  .footer__logo-link img {
    width: 100%;
    height: auto;
    display: block;
  }
</style>
